.svg-book {
	background: url(svg/sprite.css-44c8cec1.svg) 0 0 no-repeat;
}

.svg-book-dims {
	width: 36px;
	height: 36px;
}

.svg-castle {
	background: url(svg/sprite.css-44c8cec1.svg) 33.333333333333336% 0 no-repeat;
}

.svg-castle-dims {
	width: 36px;
	height: 36px;
}

.svg-cinema {
	background: url(svg/sprite.css-44c8cec1.svg) 0 50% no-repeat;
}

.svg-cinema-dims {
	width: 36px;
	height: 36px;
}

.svg-cocktail {
	background: url(svg/sprite.css-44c8cec1.svg) 33.333333333333336% 50% no-repeat;
}

.svg-cocktail-dims {
	width: 36px;
	height: 36px;
}

.svg-enceinte {
	background: url(svg/sprite.css-44c8cec1.svg) 66.66666666666667% 0 no-repeat;
}

.svg-enceinte-dims {
	width: 36px;
	height: 36px;
}

.svg-food {
	background: url(svg/sprite.css-44c8cec1.svg) 66.66666666666667% 50% no-repeat;
}

.svg-food-dims {
	width: 36px;
	height: 36px;
}

.svg-monument {
	background: url(svg/sprite.css-44c8cec1.svg) 0 100% no-repeat;
}

.svg-monument-dims {
	width: 36px;
	height: 36px;
}

.svg-music {
	background: url(svg/sprite.css-44c8cec1.svg) 33.333333333333336% 100% no-repeat;
}

.svg-music-dims {
	width: 36px;
	height: 36px;
}

.svg-people {
	background: url(svg/sprite.css-44c8cec1.svg) 66.66666666666667% 100% no-repeat;
}

.svg-people-dims {
	width: 36px;
	height: 36px;
}

.svg-theatre {
	background: url(svg/sprite.css-44c8cec1.svg) 100% 0 no-repeat;
}

.svg-theatre-dims {
	width: 36px;
	height: 36px;
}

