/* LATERAL TAB */

#content
{
	width: 500px;
	height: 535px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	margin: auto;
/*	position: relative;*/
	box-sizing: border-box;
	background-image: url("../svg/statue-liberte.svg");
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: 5% 115%;
}

#line-top
{
	height: 10px;
	background-color: #325E82;
}

img
{
	display: inline-block;
	float: left;
}

#line-bottom
{
	clear: both;
	height: 10px;
	background-color: #6590A4;
}	

#block-description-city
{
	margin: auto;	
	width: 365px;
	height: 355px;
	margin-top: 25px;
	overflow-y: auto;
}

#city-name
{
	font-family: 'Calibri';  /*Helvetica Neue 75 Bold */
	font-weight: bold;
	font-size: 15px;
}

section p
{
	font-family: 'Helvetica';  /*Helvetica Neue 45 Light*/
	font-size: 11px; 
	font-weight: lighter;
	color: #6590A4;
}



/*section
{
	height: 330px;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	box-sizing: border-box;
}*/
					/* NE PAS DECOMMENTER */
/*section::before
{
	content: "";
	display: inline-block;
	top: 104px;
	width: 100%;
	height: 18px;
	right:15px;
	z-index: 1;
	position: absolute;
	background-color: white;
}

section::after
{
	content: "";
	display: inline-block;
	bottom: 0px;
	width: 100%;
	height: 18px;
	right:15px;
	z-index: 1;
	position: absolute;
	background-color: white;
}*/
					/* NE PAS DECOMMENTER */